@using DB_Project.Models

@model Actor
    
@{Session["Redirect"] = "ActorDetails";}

<html>
<head>
    <meta charset="utf-8">
    <title> Actor details</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>
        Name: @Model.name
    </h2>

    <h2>
        Gender: @Model.gender
    </h2>

    <h2>
        Date of Birth: @Model.bdate
    </h2>

    <h2>
        Description: @Model.description
    </h2>
</body>
</html>
