<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Add Complaints</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="formwrapper">
        <form action="../../Home/AddComplaint" method="post" name="loginform">
            <fieldset>
                <h1>Register your Complaint</h1>
                <label for="message">Enter your complaint:</label>
                <textarea name="message" cols="40" rows="10"> </textarea>
                <br>
                <input class="btn" name="submit" type="submit" value="Send">
            </fieldset>
        </form>
    </div>
</body>
</html>