<!DOCTYPE html>
<html>
<body>
    <h2>Complaint</h2>
    <form action="../../Home/ComplaintAction" method="post">
        <fieldset>
            <legend>Login</legend>

            Text:<br />
            <input type="text" required name="text" />
            <br /><br />

            <input type="submit" value="Submit" />
            <br /><br />

            <p style="display:inline"> Don't have an account?</p>
            <a href="../../Home/Signup">Create new account</a>
            <br /><br />
            <p style="display:inline"> Already have an account?</p>
            <a href="../../Home/LoginAction">Sign in</a>
        </fieldset>
    </form>

    <br /><br />
    <a href="../../Home/Index">Index</a>
    <br /><br />
</body>
</html>