@model Nullable<int>
@{
    ViewBag.Title = "Msg";
}

@*
KEY
    -1  = DB Connection Failed
     1  = Movie Details Not Found
     2  = Actor Details Not Found
     3  = Signup Failed
     4  = Login Failed
     5  = Complaint Registration Failed
     6  = Edit Movie Failed
     7  = Rating Failed
     8  = Comment Failed
     9  = Edit Failed
     10 = Delete Movie Failed
     11 = Movie Results Not Found
     12 = Add Actor Failed
     13 = Add Movie Failed
     14 = Add Cast Failed
     15 = Complaint Resolution Failed
*@

<html>
<body>
    <br />
    <br />
    @if (Model == -1)
    {
        <p>Connection to Database Failed!</p>
    }
    else if (Model == 1)
    {
        <p>Movie Details Not Found</p>
    }
    else if (Model == 2)
    {
        <p>Actor Details Not Found</p>
    }
    else if (Model == 3)
    {
        <p>Signup Failed</p>
    }
    else if (Model == 4)
    {
        <p>Login Failed</p>
    }
    else if (Model == 5)
    {
        <p>Complaint Registration Failed</p>
    }
    else if (Model == 6)
    {
        <p>Edit Movie Failed</p>
    }
    else if (Model == 7)
    {
        <p>Rating Failed</p>
    }
    else if (Model == 8)
    {
        <p>Comment Failed</p>
    }
    else if (Model == 9)
    {
        <p>Edit Failed</p>
    }
    else if (Model == 10)
    {
        <p>Delete Movie Failed</p>
    }
    else if (Model == 11)
    {
        <p>Movie Results Not Found</p>
    }
    else if (Model == 12)
    {
        <p>Add Actor Failed</p>
    }
    else if (Model == 13)
    {
        <p>Add Movie Failed</p>
    }
    else if (Model == 14)
    {
        <p>Add Cast Failed</p>
    }
    else if (Model == 15)
    {
        <p>Complaint Resolution Failed</p>
    }
    else
    {
        <p>Error! Error Not Found</p>
    }
</body>
</html>


