@model int
@{
    ViewBag.Title = "Msg";
}

@*
KEY
    -1  = DB Connection Failed
     1  = Movie Details Not Found
     2  = Actor Details Not Found
*@

<html>
<body>
    <br />
    <br />
    @if (Model == -1)
    {
        <p>Connection to Database Failed!</p>
    }
    else if (Model == 1)
    {
        <p>Movie Details Not Found</p>
    }
    else if (Model == 2)
    {
        <p>Actor Details Not Found</p>
    }
    else if (Model == 3)
    {
        <p>Signup Failed</p>
    }
    else if (Model == 4)
    {
        <p>Login Failed</p>
    }
    else
    {
        <p>Error!</p>
    }
</body>
</html>


