@model int
@{
    ViewBag.Title = "Msg";
}

@*
KEY
    -1  = DB Connection Failed
     1  = Movie Details Not Found
     2  = Actor Details Not Found
*@

<html>
<body>
    <br />
    <br />
    @if (Model == -1)
    {
        <p>Connection to Database Failed!</p>
    }
    else if (Model == 1)
    {
        <p>Movie Details Not Found</p>
    }
    else if (Model == 2)
    {
        <p>Actor Details Not Found</p>
    }
    else
    {
        <p>Error!</p>
    }
    <br />
    <br />
    <a href="../../Home/Index">Index</a><br />
    <a href="../../Home/SignUp">Signup</a><br />
    <a href="../../Home/Login">Login</a><br />
</body>
</html>


