@{
    ViewBag.Title = "Home Page";
}


@{Session["Redirect"] = "Index";}
<html>

<head>
    <title>index</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h2>Home Page</h2>
    <br />
    <a href="../../Home/ActorDetails?actorID=1">ActorDetails</a>
    <br />
    <br />
    <a href="../../Home/AddComplaint">AddComplaint</a>
    <br />
    <br />
    <a href="../../Home/AddMovie">AddMovie</a>
    <br />
    <br />
    <a href="../../Home/EditMovieDetails?movieID=1">EditMovieDetails</a>
    <br />
    <br />
    <a href="../../Home/Error">Error</a>
    <br />
    <br />
    <a href="../../Home/Index">Index</a>
    <br />
    <br />
    <a href="../../Home/LogIn">Login</a>
    <br />
    <br />
    <a href="../../Home/MovieDetails?movieID=1">MovieDetails</a>
    <br />
    <br />
    <a href="../../Home/SignUp">Signup</a>
    <br />
    <br />
    <a href="../../Home/ViewComplaints">ViewComplaints</a>
    <br />
    <br />
</body>

</html>
