@{
    ViewBag.Title = "Home Page";
}


@{Session["LoginRedirect"] = "Index";}
    <html>

    <head>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    </head>

    <h2>Home Page</h2>
    <br />
    <a href="../../Home/SignUp">Signup</a>
    <br />
    <br />
    <a href="../../Home/LogIn">Login</a>
    <br />
    <br />
    <a href="../../Home/MovieDetails?movieID=1">MovieDetails</a>
    <br />
    <br />
    <a href="../../Home/ActorDetails">ActorDetails</a>
    <br />
    <br />
    <a href="../../Home/test">test</a>
    <br />
    <br />

    </html>
