@{
    ViewBag.Title = "Home Page";
}
<h2>Home Page</h2>
@{Session["CurrentView"] = "Index";}
<br />
<a href="../../Home/SignUp">Signup</a><br /><br />
<a href="../../Home/LogIn?">Login</a><br /><br />
