@{
    ViewBag.Title = "Home Page";
}


@{Session["Redirect"] = "Index";}
<html>

<head>
    <title>Index</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    @if (@Session["uId"] != null)
    {
        if (@Session["uType"].ToString() == "A")
        {
            <h2>Administrator's view</h2>
            <br />
            <br />
            <a href="../../Home/AddMovie">AddMovie</a>
            <br />
            <br />
            <a href="../../Home/AddActor">AddActor</a>
            <br />
            <br />
            <a href="../../Home/ViewComplaints">ViewComplaints</a>
        }
        else
        {
            <h2>User's view</h2>
            <br />
            <br />
            <a href="../../Home/AddComplaint">AddComplaint</a>
        }
    }

    <br />
    <br />
    <a href="../../Home/AllMoviesAction">View All Movies</a>
    <br />
    <br />
    <a href="../../Home/TopMoviesAction">View Top Rated Movies</a>

</body>

</html>
