@using DB_Project.Models
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<body>
    <h2>Login into your account</h2>
    <form action="q../../Home/Loginfunc" method="post">
        <fieldset>
            <legend>Login</legend>

            Email:<br />
            <input type="email" required name="email" pattern="[a-z0-9._%+-]+&#64[a-z0-9.-]+\.[a-z]{2,}$" />
            <br />
            <br />
            Password:<br />
            <input type="password" required name="password" />

            <br />
            <br />
            <input type="submit" value="Submit" />
            <br />
            <br />
            <p style="display:inline"> Don't have an account? </p>
            <a href="../../Home/Signup">Create new account</a><br /><br />
        </fieldset>
    </form>
    <br /><br />
    <a href="../../Home/Index">Index</a><br /><br />
</body>
</html>