@model int
@{
    ViewBag.Title = "Msg";
}
<html>
<body>
    <br />
    <br />
    @if (Model == -1)
    {
        <p>Connection to Database Failed!</p>
    }
    else if (Model == 0)
    {
        <p>Sign-Up Failed!</p>
    }
    else if (Model == 1)
    {
        <p>User Registered!</p>
    }
    else if (Model == 2)
    {
        <p>Log-In Failed!</p>
    }
    else if (Model == 3)
    {
        <p>User Logged-In!</p>
    }
    else if (Model == 4)
    {
        <p>Signup Action Error!</p>
    }
    else if (Model == 5)
    {
        <p>Login Action Error!</p>
    }
    else
    {
        <p>Error!</p>
    }
    <br />
    <br />
    <a href="../../Home/Index">Index</a><br />
    <a href="../../Home/SignUp">Signup</a><br />
    <a href="../../Home/Login">Login</a><br />
</body>
</html>


