@using DB_Project.Models
@{
    ViewBag.Title = "Signup";
}
<!DOCTYPE html>
<html>
<body>
    <h2>Create new account</h2>
    <form action="../../Home/SignupAction" method="post" name="signupform">
        <fieldset>
            <legend>Sign up</legend>

            Email:<br />
            <input type="email" required name="email" pattern="[a-z0-9._%+-]+&#64[a-z0-9.-]+\.[a-z]{2,50}$" />
            <br /><br />

            Name:<br />
            <input type="text" required name="name" pattern="[A-Za-z ]{3,100}" />
            <br /><br />

            Account Type:<br />
            <select name="usertype">
                <option value="U" selected>User</option>
                <option value="A">Administrator</option>
            </select>
            <br /><br />

            Date Of Birth:<br />
            <input type="date" required name="dateOfBirth" />
            <br /><br />

            Password:<br />
            <input type="password" required name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,50}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
            <br /><br />

            <input type="submit" value="Submit" />
            <br /><br />

            <p style="display:inline"> Already have an account? </p>
            <a href="../../Home/Login">Login</a>
            <br /><br />
        </fieldset>
    </form>

    <br /><br />
    <a href="../../Home/Index">Index</a>
    <br /><br />

</body>
</html>
