@using DB_Project.Models
@{
    ViewBag.Title = "Signup";
}
<script>

    function validateform()
    {
	    var name=document.signupform.name.value;
	    var email=document.signupform.email.value;
	    var password=document.signupform.password.value;

        if (name == "" || email == "" || password == "")
        {
  		    alert("Name, Email or Password can't be blank");
  		    return false;
	    }
	
    }
    function EmailAvailable()
    {
        $.post("@Url.Action("CheckEmailAvailable", "Home")",
            {
                userdata: $("#email").val()
            },
            function (data)
            {
                if (data == 0)
                {
                    alert("email already taken");
                }
            }
            )
    }
    function SignupFunc(email, name, usertype, dateOfBirth, password)
    {

    }
</script>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="formwrapper">
        <form action="../../Home/SignupAction" method="post" name="signupform" onsubmit="return validateform()">
            <fieldset>
                <h1>Create new account</h1>
                <label for="email">Your Email:</label>
                <input name="email" type="email" size="50" maxlength="100" pattern="[a-z0-9._%+-]+&#64[a-z0-9.-]+\.[a-z]{2,50}$" onchange="EmailAvailable()">
                <label for="name">Your Name:</label>
                <input name="name" type="text" size="50" maxlength="100" pattern="[A-Za-z ]{3,100}">
                <label for="password">Password:</label>
                <input type="password" required name="password" size="50" maxlength="100" accesskey="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,50}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                <label for="Account Type:">Your Account Type:</label>
                <select name="usertype">
                    <option value="U" selected>User</option>
                    <option value="A">Administrator</option>
                </select>
                <br>
                <label for="date">Date of Birth:</label>
                <input type="date" required name="dateOfBirth" size="50" maxlength="100" />
                <br>
                <!-- textarea name="message cols="40" rows= 10" </textarea> -->
                <br>
                <input class="btn" name="submit" type="submit" value="Send">
                <br />
            </fieldset>
        </form>
    </div>
</body>
</html>
