
#formwrapper {
    /*width: 300px;*/
    width: 50vw;
    margin-left: 20vw;
    text-align: center;
    height: auto;
}


form {
    width: 400px;
    
    height: auto;
}

.ding {
    background-color: #FBEAEB;
    width: 500px;
    padding-left: 60px;
}


fieldset {
    background-color: #FBEAEB;
    border-radius: 15px 15px 15px 15px;
    padding-bottom: 10px;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    color: #000;
}

h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: #2F3C7E;
}
h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    color: #2F3C7E;
}
h4 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    color: #2F3C7E;
}


label {
    width: 250px;
    display: block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #000;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

input {
    border: thin solid black;
    margin-bottom: 10px;
}

textarea {
    border: thin solid #6CF;
    margin-bottom: 10px;
}

.btn {
    background-color: orange; /* Green */
    border: none;
    color: white;
    padding-bottom: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 20px;
    width: 350px;
}

body {
    background-color: #FBEAEB;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    //background: url(https://images.unsplash.com/photo-1543536448-d209d2d13a1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    //background-size: cover;
}

* {
    box-sizing: border-box;
}


.bar {
    width: 100%;
    background-color: black;
    overflow: auto;
}

    .bar ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 60px;
    }

    .bar li {
        float: left;
    }

    .bar ul li a {
        background-color: black;
        text-decoration: none;
        width: 130px;
        display: block;
        text-align: center;
        color: #f2f2f2;
        font-size: 18px;
        font-family: sans-serif;
        letter-spacing: 0.5px;
    }

    .bar li a:hover {
        color: #fff;
        opacity: 0.5;
        font-size: 19px;
    }

.searchbox {
    margin-top: 15px;
    float: right;
    margin-right: 100px;
}


button {
    float: right;
    background-color: orange;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    position: relative;
    padding: 7px;
    font-family: sans-serif;
    border: none;
    font-size: 16px;
}
