body {
    background-color: #F1FBFB;
}

#formwrapper {
    width: 300px;
    height: auto;
    background-color: #F1FBFB;
}

form {
    width: 400px;
    height: auto;
    background-color: black;
}

fieldset {
    background-color: #F1FBFB;
    border: solid;
    padding-bottom: 10px;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 24px;
    color: #000;
}

label {
    width: 250px;
    display: block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #000;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

input {
    width: 250 px;
    border: thin solid #6CF;
    margin-bottom: 10px;
}

textarea {
    width: 250 px;
    border: thin solid #6CF;
    margin-bottom: 10px;
}

.btn {
    width: 50px;
    height: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #FFF;
    font-weight: bold;
    background-color: #6CF;
    margin-left: 10px;
    float: left;
}

