
#formwrapper {
    /*width: 300px;*/
    width: 50vw;
    margin-left: 20vw;
    text-align: center;
    height: auto;
    background-color: #F1FBFB;
}

body {
    background-color: #F1FBFB;
}

form {
    width: 400px;
    height: auto;
    background-color: black;
}
fieldset {
    background-color: #F1FBFB;
    border: solid;
    padding-bottom: 10px;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 24px;
    color: #000;
}

h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    color: #000;
}


label {
    width: 250px;
    display: block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #000;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

input {
    width: 250 px;
    border: thin solid #6CF;
    margin-bottom: 10px;
}

textarea {
    width: 250 px;
    border: thin solid #6CF;
    margin-bottom: 10px;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding-bottom:  30px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 20px;
    width: 350px;
}

