<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title FilmIndex</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <nav class="bar">
        <ul>
            <li><a href="../../Home/Index"> Index</a></li>
            <li><a href="../../Home/AddComplaint">Complaints</a></li>

        </ul>
        <form class="searchbox">
            <input type="text" placeholder="Search Movies... " style="  padding: 7px;
                                                                        border: none;
                                                                        font-size: 16px;
                                                                        font-family: sans-serif;" size="40" maxlength="60">
            <button>Search</button>
        </form>
    </nav>
    @if (@Session["uId"] != null)
    {
        <h2>Account signed in</h2>
    }
    else
    {
        <h2> <a href="../../Home/Signup">Sign Up</a> | <a href="../../Home/Login">Login</a></h2>
        <!-- skldjflsdj-->
    }
    <hr>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>FilmIndex</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>